/* universal */
.col-centered {float: none; margin: 0 auto;}
a {transition: all 0.3s ease-in-out;}
a:hover {color: #e10204 !important;}
h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans', sans-serif;}

.intro-header {min-height: 400px; margin: 50px 0 0 0; }





/* footer */
footer p {display: inline-block;}
footer p.copyright {display: block;}